{erl_opts, [debug_info]}.
{deps, [
	{emqttc, {git, "https://github.com/emqtt/emqttc.git"}}
	]
}.

{relx, [{release, {"pubsub_ssdchat", "1.0.0"}, [pubsub_ssdchat]},
    
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}
    ]}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {include_src, false}]}]}
           ]}.