{erl_opts, [debug_info]}.
{deps, [
{jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}},
{mqttc, {git, "https://github.com/emqtt/emqttc", {branch, "master"}}}
]}.
{relx, [{release, {diagram_executer, "0.0.1"},
[diagram_executer]},

{dev_mode, true},
{include_erts, true},
{extended_start_script, true}]}.